
.section {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    color: #ffcb00;
    background-color: #222;
}

/* #fp-nav ul li a span, .fp-slidesNav ul li a span{
    background-color: #ffcb00;
} */
.dep_tit {
}
  

/* section1*/
.section1 {
    display: flex;
    background-color: #222;
}
.section1 .dep_tit{
    position: absolute;
    /*
  left: -18rem;
  transform: rotate(90deg);
  top: 20rem;
  */
    font-size: 10rem;
    writing-mode: sideways-rl;
    color: #fff;
    align-self: anchor-center;
}
.section1 .container{
margin: 0 5rem;
height: 90%;

}
.section1 .tit_wrap p{
    text-align: end;
    font-size: 10rem;
    margin-bottom: 1rem;
}
.section1 .app{
    justify-self: right;
    display: flex;
}
.section1 .content{
    margin: 1rem;
    align-content: center;
    background-color: #333;
    border: 4pt solid #fff;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    transition: 0.8s;
    justify-items: center;
}
.section1 .app a{
    color: #fff;

}
.section1 .con_img{
    opacity: 0;
}
.section1 .app .pf:hover{
    border: none;
    margin: 0 0 0.8rem 0;
    height: 20rem;
    width: 26rem;
    background-color: #fff;
    color: #222;
    border-radius: 3%;
    transition: 0.5s;
    .con_img{
        transition: 2s;
        opacity: 1;
        height: 16rem;
        width: 24rem;
        background-image: url(../other/2024pf/img/2024_po.jpg);
        background-size: cover;
    }
    
}
.section1 .app .vel:hover{
    border: none;
    margin: 0 0 0.8rem 0;
    height: 20rem;
    width: 26rem;
    background: #ffcb00;
    color: #222;
    border-radius: 3%;
    transition: 0.5s;
    .con_img{
        transition: 2s;
        opacity: 1;
        background-image: url(../img/tstory.png);
        background-size: cover;
        background-position-y: center;
        height: 16rem;
        width: 24rem;

        background-color: #ffcb00;
    }

}
.section1 .app .gh:hover{
    border: none;
    margin: 0 0 0.8rem 0;
    height: 20rem;
    width: 26rem;
    background-color: #ffcb00;
    color: #222;
    border-radius: 3%;
    transition: 0.5s;
    .con_img{
        transition: 2s;
        opacity: 1;
        background-image: url(../img/github-mark.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        
        background-color: #fff;
        height: 16rem;
        width: 24rem;
    }

}

/* section2*/
.section2 {
    /* background-color: #ff6347; */

    background-color: #ffcb00;
    color: #fff;
}
.section2 .tit{
    font-size: 10rem;
    position: absolute;
    top: 0;
    left: 0;
}   
.section2 .rel{
    display: flex;
    justify-content: space-evenly;
}
.section2 .box{
    /* margin: 4rem; */
    padding: 1rem;
    border: solid 4px #000;
    height: 24rem;
    width: 20rem;
}
.section2 .box .txt{
    /* margin: 1rem; */

}
.section2 .box .txt h1{
    margin: 0.5rem;
    font-size: 2rem;
}
.section2 .box .txt p{
    font-size: 1rem;
}

/* 컨텍 */
.contact-inner{
    height: 60%;
    align-content: center;
}
.contact-info{
    display: flex;
    justify-content: center;
}
.card{
    margin: 1rem;
    background-color: #fff;
    height: 14rem;
    width: 18rem;
/*
    width: calc(28%);
*/
    justify-content: center;
    align-content: center;
    border-radius: 1rem;
    font-size: 0.5rem;
}
.card img{
    width: 3rem;
    height: 3rem;
}
.card-tit {
}
.card-txt{
    margin: 1rem;
    transition: 0.5s ;
    opacity: 0.5;
}

.card:hover{
    font-size: 1rem;
    background-color: #ffcb00;
    opacity: 1;
    transition: 0.5s ;
}
.last-comment{
    opacity: 0.8;
}