.section {
    text-align: center;
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
    position: relative;
    color: #ffcb00;
}

.section .dep_tit {
    position: absolute;
    /*
  left: -18rem;
  transform: rotate(90deg);
  top: 20rem;
  */
    font-size: 10rem;
    color: #fff;
    top: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-color: #fff;
}

.section1 {
    background: linear-gradient(#000000, #1f1c2c);
}

.section2 {
    background: linear-gradient(#1f1c2c, #3c1053);
}

.section3 {
    background: linear-gradient(#3c1053, #6c0e6c);
}

.section4 {
    background: linear-gradient(#6c0e6c, #b9314f);
}

.section5 {
    background: linear-gradient(#b9314f, #f46036);
}

.section6 {
    background: linear-gradient(#f46036, #ffcb00);
}

.section7 {
    background: linear-gradient(#ffcb00, #fffbfb);
}

/* #fp-nav ul li a span, .fp-slidesNav ul li a span{
    background-color: #ffcb00;
} */

/* section1*/
.section1 {
    display: flex;

}

.section1 .dep_tit {
    position: absolute;
    /*
  left: -18rem;
  transform: rotate(90deg);
  top: 20rem;
  */
    font-size: 10rem;
    writing-mode: sideways-rl;
    color: #fff;
    align-self: anchor-center;
}

.section1 .container {
    margin: 0 5rem;
    height: 90%;
}

.section1 .tit_wrap p {
    text-align: end;
    font-size: 10rem;
    margin-bottom: 1rem;
}

.section1 .app {
    justify-self: right;
    display: flex;
}

.section1 .content {
    margin: 1rem;
    align-content: center;
    background-color: #333;
    border: 4pt solid #fff;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    transition: 0.8s;
    justify-items: center;
}

.section1 .app a {
    color: #fff;
}

.section1 .con_img {
    opacity: 0;
}

.section1 .app .pf:hover {
    border: none;
    margin: 0 0 0.8rem 0;
    height: 16rem;
    width: 20rem;
    background-color: #fff;
    color: #222;
    border-radius: 3%;
    transition: 0.5s;

    .con_img {
        transition: 2s;
        opacity: 1;
        height: 12rem;
        width: 18rem;
        background-image: url(../other/2024pf/img/2024_po.jpg);
        background-size: cover;
    }
}

.section1 .app .vel:hover {
    border: none;
    margin: 0 0 0.8rem 0;
    height: 16rem;
    width: 20rem;
    background: #ffcb00;
    color: #222;
    border-radius: 3%;
    transition: 0.5s;

    .con_img {
        transition: 2s;
        opacity: 1;
        background-image: url(../img/tstory.png);
        background-size: cover;
        background-position-y: center;
        height: 12rem;
        width: 18rem;

        background-color: #ffcb00;
    }
}

.section1 .app .gh:hover {
    border: none;
    margin: 0 0 0.8rem 0;
    height: 16rem;
    width: 20rem;
    background-color: #ffcb00;
    color: #222;
    border-radius: 3%;
    transition: 0.5s;

    .con_img {
        transition: 2s;
        opacity: 1;
        background-image: url(../img/github-mark.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;

        background-color: #fff;
        height: 12rem;
        width: 18rem;
    }
}

/* section2*/
.section2 {
    /* background-color: #ff6347; */
    color: #fff;
}

.section2 .rel {
    display: flex;
    justify-content: space-evenly;
}

.section2 .box {
    /* margin: 4rem; */
    padding: 1rem;
    border: double 0.4rem #ffcb00;
    height: 34rem;
    width: 22rem;
    border-radius: 2% 2% 20% 2%;
    align-content: center;

    .line {
        height: 0.1rem;
        width: 18rem;
        margin: 1rem;
        justify-self: center;
    }
}

.section2 .box .txt {
    margin: 1rem;
}

.section2 .box .txt h1 {
    margin: 0.5rem;
    font-size: 2.4rem;
}

.section2 .box .txt p {
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
}

.section2 .line {
    height: 20rem;
    width: 0.2rem;
    align-self: center;
    background-color: #ffcb00;
}

/*section3*/
.section3 .rel {
    width: 92%;
    display: flex;
    justify-content: right;
}

.section3 .list {
    /* margin: 5rem; */
    /* border: solid 0.4rem #fff;
    color: #fff;
    background: #0a3792; */
    justify-items: center;
    align-content: center;
    width: 30rem;
    height: 34rem;

    div {
        margin: 1rem 0;
    }
}

.section3 .tit {
    font-size: 5rem;
}

.section3 .list .btn {
    border: solid 0.2rem #fff;
    width: 20rem;
    height: 4rem;
    align-content: center;
    color: #fff;
    background-color: #333;
}

.section3 .list .btn:hover {
    background-color: #fff;
    color: #333;
}

.section3 .icon {
    display: flex;

    .cl {
        margin: 1rem;
        color: #fff;
        border: solid 0.2rem;
        padding: 0.5rem;
    }

    .cl1 {
        background-color: #0a3792;
    }

    .cl2 {
        background-color: #365ab1;
    }

    .cl3 {
        background-color: #02a4db;
    }
}

/* section4 개인프로젝트트 */
#slideControl button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background-color: #ffcb00;
    color: #000;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#slideControl button:hover {
    background-color: #fff;
    color: #333;
}

.fp-right {
    bottom: 4rem !important;
    /* 기본보다 살짝 아래로 */
}

/* 슬라이드 화살표 위치 살짝 왼쪽/오른쪽으로 이동 */
.fp-controlArrow.fp-prev {
    left: 1.5rem !important;
}

.fp-controlArrow.fp-next {
    right: 1.5rem !important;
}

.section4 .rel {
    width: 92%;
    display: flex;
    justify-content: left;
}

.section4 .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* background-color: #3c1053; */
    font-size: 3rem;
}

.section4 .list {
    /* margin: 5rem; */
    /* border: solid 0.4rem #fff;
    color: #fff;
    background: #923198; */
    justify-items: center;
    align-content: center;
    width: 30rem;
    height: 34rem;

    div {
        margin: 1rem 0;
    }
}

.section4 .tit {
    font-size: 5rem;
}

.section4 .list .btn {
    border: solid 0.2rem #fff;
    width: 20rem;
    height: 4rem;
    align-content: center;
    color: #fff;
    background-color: #333;
}

.section4 .list .btn:hover {
    background-color: #fff;
    color: #333;
}

.section4 .icon {
    display: flex;

    .cl {
        margin: 1rem;
        color: #fff;
        border: solid 0.2rem;
        padding: 0.5rem;
    }

    .cl1 {
        background-color: #E7038C;
    }

    .cl2 {
        background-color: #923198;
    }

    .cl3 {
        background-color: #002F5D;
    }
}

/* 컨텍 */
.contact-inner {
    height: 60%;
    align-content: center;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.card {
    margin: 1rem;
    background-color: #fff;
    height: 14rem;
    width: 18rem;
    /*
    width: calc(28%);
*/
    justify-content: center;
    align-content: center;
    border-radius: 1rem;
    font-size: 0.5rem;
}

.card img {
    width: 3rem;
    height: 3rem;
}

.card-txt {
    margin: 1rem;
    transition: 0.5s;
    opacity: 0.5;
}

.card:hover {
    font-size: 1rem;
    border: solid 0.2rem #f46036;
    opacity: 1;
    transition: 0.5s;
}

.last-comment {
    opacity: 0.5;
    color: #000000;
}